/* ===Careful: Editing the section below may make widget not work as expected ===*/
.sidebar-widget {
	overflow:hidden;
	pointer-events:none;
	position:absolute;
	height:100%;
	min-height:500px;
	width:200px;
	left:-200px;
}

.sidebar-widget-parent .sidebar-widget.open {
	pointer-events:auto;
}

.sidebar-widget-parent .sidebar-widget .sidebar-wrapper {
	position: absolute; 
	left: 100%;
	-webkit-transition: left ease-out; /* For Safari 3.1 to 6.0 */
	transition: left ease-out;
	width:100%;
	height: 100%;
	transition-duration: .5s;
}

.sidebar-widget-parent.sidebar-widget-will-push .sidebar-widget .sidebar-wrapper{ 
	left:-100%;
}

.sidebar-widget-parent .sidebar-widget.ignore-transitions .sidebar-wrapper{
	transition-duration: 0s;
	-webkit-transition-duration: 0s;
}

.sidebar-widget-parent .sidebar-widget.open .sidebar-wrapper {
	left: 0;
}

.sidebar-widget-parent .sidebar-widget .sidebar-wrapper ul {
	list-style: none;
	width: 100%;
} 

.sidebar-widget-parent .sidebar-widget .sidebar-wrapper li ul {
	position: absolute;
	top: 0;
	left: 100%;
	-webkit-transition: left ease-out; /* For Safari 3.1 to 6.0 */
	transition: left ease-out;
	transition-duration: .5s;
}

.sidebar-widget-parent .sidebar-widget.ignore-transitions .sidebar-wrapper li ul{
	transition-duration: 0s;
	-webkit-transition-duration: 0s;
}

.sidebar-widget-parent.sidebar-widget-will-push .sidebar-widget .sidebar-wrapper li ul {
	left: -100%;
}

.sidebar-widget-parent .sidebar-widget .sidebar-wrapper li.open > ul {
	left: 0;
}

.sidebar-widget-parent .sidebar-widget .sidebar-wrapper ul.child-open > li:not(.open){
	display:none;
}

/* ===Safe Edits=== */

.sidebar-widget .sidebar-wrapper ul {
	background-color:#EE7624;
} 

.sidebar-widget .sidebar-wrapper ul a {
	color:white;
}

.sidebar-widget .sidebar-wrapper ul .child-toggle {
	width:20px;
	height:15px;
	background-color:black;
	float:right;
	cursor:pointer;
}

.sidebar-widget .sidebar-wrapper li.back {
	border-bottom:1px solid silver;
	font-size:120%;
}




